<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body style="background-image: url('img/bg.jpg'); background-size: 100%;">
	<div class="login-container">
		<img th:src="@{/img/logo.jpg}" height="70px" width="200px">
		<form action="validate" method="post">
			<label>Email : </label> 
			<input type="email" name="email"placeholder="Email" /> 
			<br> 
			<label>Password : </label> 
			<input type="password" name="password" placeholder="Password" /> 
			<br>
			<button type="submit">LOGIN</button>
		</form>
	</div>
	<br>
	<div class="new">
		<p>Don't have an account.?</p>
		<a href="registration">Sign up</a>
	</div>

</body>
</html>
